@charset "UTF-8";
html, body {
  height: 100%;
  overflow: hidden;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft Yahei,Wenquanyi Micro Hei,sans-serif; }

html, body, input, ul, li, p, span, video, h1, h2 {
  margin: 0;
  padding: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: white; }
  a:hover {
    cursor: pointer;
    color: white; }

/*背景视频的高度*/
/*网站字体颜色*/
div {
  height: 100%; }

.db-content {
  min-width: 910px;
  height: 100%;
  /*豆瓣头部样式*/ }
  .db-content .db-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 1; }
    .db-content .db-header .header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      /*沿主轴方向的（这是水平方向）居中*/ }
      .db-content .db-header .header span {
        padding: 0px 3px; }
      .db-content .db-header .header .header-left {
        display: flex;
        align-items: center; }
        .db-content .db-header .header .header-left a {
          display: flex;
          align-items: center;
          /*弹性盒子垂直居中法*/ }
          .db-content .db-header .header .header-left a img {
            width: 15px;
            height: 15px; }
        .db-content .db-header .header .header-left .sharing {
          position: absolute;
          top: 40px;
          left: 314px;
          height: 101px;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 20px;
          line-height: 2.0;
          border-radius: 7px;
          display: none; }
          .db-content .db-header .header .header-left .sharing div {
            display: flex; }
            .db-content .db-header .header .header-left .sharing div div:first-of-type {
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              .db-content .db-header .header .header-left .sharing div div:first-of-type i {
                margin-right: 5px; }
            .db-content .db-header .header .header-left .sharing div div:last-of-type {
              width: 101px;
              height: 101px;
              margin-left: 34px; }
              .db-content .db-header .header .header-left .sharing div div:last-of-type:before {
                content: '';
                height: 101px;
                border-left: 1px solid #B6BABD;
                position: absolute;
                left: 147px; }
              .db-content .db-header .header .header-left .sharing div div:last-of-type img {
                width: 100%;
                height: 100%; }
        .db-content .db-header .header .header-left .header-share {
          cursor: pointer; }
          .db-content .db-header .header .header-left .header-share:hover .sharing {
            display: block; }
      .db-content .db-header .header .header-right {
        display: flex;
        align-items: center; }
        .db-content .db-header .header .header-right img {
          width: 14px;
          height: 14px; }
        .db-content .db-header .header .header-right .header-menu {
          background: transparent;
          border-radius: 10px;
          color: white;
          border: 1px solid;
          padding: 2px 10px; }
  .db-content .db-center {
    height: 100%; }
    .db-content .db-center .item {
      position: relative;
      overflow: hidden;
      height: 100%;
      /*首页样式*/
      /*利用混合,将图片的路径传入*/
      /*左右布局的整体公共样式*/
      /*发表评论样式*/
      /*第二页样式-传入对应背景图片和颜色*/
      /*第三页样式-传入对应背景图片和颜色*/
      /*第四页样式-传入对应背景图片和颜色*/
      /*中心布局的整体公共样式*/ }
      .db-content .db-center .item .center-video {
        width: 100%;
        height: 100%; }
        .db-content .db-center .item .center-video video {
          width: 100%; }
      .db-content .db-center .item .center-bgImg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../images/textBg.png"); }
      .db-content .db-center .item .center-textImg {
        width: 55vh;
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*两张图片叠加，将其中一张使用绝对定位*/ }
        .db-content .db-center .item .center-textImg img {
          width: 100%; }
        .db-content .db-center .item .center-textImg .textImg-small {
          position: absolute;
          top: 0px;
          left: 0px; }
      .db-content .db-center .item .center-text {
        width: 531px;
        height: 50px;
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ddd; }
      .db-content .db-center .item .item-bgImg {
        height: 100%;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .db-content .db-center .item .item-bgImg .item-left {
          width: 490px;
          height: 250px;
          padding: 20px;
          border-radius: 7px;
          margin-top: -101px;
          margin-right: 35px;
          display: flex; }
          .db-content .db-center .item .item-bgImg .item-left .item-left-r {
            padding: 0px 0px 0px 20px;
            flex: 1;
            color: white;
            overflow: hidden; }
            .db-content .db-center .item .item-bgImg .item-left .item-left-r h1 {
              font-weight: 400; }
            .db-content .db-center .item .item-bgImg .item-left .item-left-r .splitLine {
              width: 100%;
              height: 1px;
              border-top: 1px solid white;
              margin: 18px 0px 15px 0px; }
            .db-content .db-center .item .item-bgImg .item-left .item-left-r .ranking {
              display: inline-block;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              background: #e58b00;
              border-radius: 1.5rem;
              padding: 0 .5rem;
              margin-bottom: .3rem;
              margin-right: .5rem;
              color: white; }
            .db-content .db-center .item .item-bgImg .item-left .item-left-r section span, .db-content .db-center .item .item-bgImg .item-left .item-left-r section p {
              margin-top: 7px; }
            .db-content .db-center .item .item-bgImg .item-left .item-left-r section p:last-of-type {
              height: 66.5px;
              line-height: 1.7;
              overflow: hidden;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.6); }
        .db-content .db-center .item .item-bgImg .item-right {
          width: 472px;
          height: 522px; }
          .db-content .db-center .item .item-bgImg .item-right .item-right-ul {
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            margin-top: 66px; }
            .db-content .db-center .item .item-bgImg .item-right .item-right-ul li {
              display: inline-block;
              position: relative;
              width: 142px;
              height: 120px;
              margin: 0 5px 64px;
              margin-bottom: 55px;
              background: rgba(0, 0, 0, 0.5);
              border-radius: 7px; }
              .db-content .db-center .item .item-bgImg .item-right .item-right-ul li div:first-of-type {
                position: absolute;
                bottom: 46px;
                margin-left: 15px; }
              .db-content .db-center .item .item-bgImg .item-right .item-right-ul li div:last-of-type {
                position: absolute;
                right: 18px;
                top: 3px;
                font-size: 15px; }
              .db-content .db-center .item .item-bgImg .item-right .item-right-ul li p {
                position: absolute;
                margin-left: 15px;
                font-size: 15px; }
              .db-content .db-center .item .item-bgImg .item-right .item-right-ul li p:first-of-type {
                width: 120px;
                height: 20px;
                bottom: 24px;
                overflow: hidden;
                white-space: nowrap;
                /*文本不换行*/
                text-overflow: ellipsis;
                /*影藏的部分用...表示*/ }
              .db-content .db-center .item .item-bgImg .item-right .item-right-ul li p:last-of-type {
                bottom: 5px;
                color: #f6a623; }
      .db-content .db-center .item .item-comment {
        width: 640px;
        height: 30px;
        position: absolute;
        bottom: 18px;
        color: white;
        display: flex;
        align-items: flex-end; }
        .db-content .db-center .item .item-comment span::before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 6px;
          margin-left: 15px;
          width: 16px;
          height: 14px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAjRJREFUaAXtmbtKA1EQho3GeG0shKCFIIKIjYg2IimMFwQb04oPIFY+gDY+ghZaWNqIWHhB0FYsxCJtihSCGhRjAhZeEOM3wZV1XSPJCcks7MCf3Zxz5pz/n5kNYbamxrfqRiBQ7PG5XK4en37QAcIgCMppT2x2C5KBQOC6bBtDPAK2QQZUyuIctAzaShaCczc4BNW0Rw5fAsVVDA5jIA202B5EWuzZ+FMRC8dZeAzKXeP280u5P8MpyvPxJs61bjtAvofxHaCNvNAdBRtyI+aaAQScMDeRX6H3Y4osnPwSAHkhLgK0WxyCg24ltKCd+Re/Aa4jdXayRL+R75sgZB9XfJ92ZmAQsj9+phSTF2oRpwD5e+Al63QKkP82XrKwU4DG3/1CAQ06BRRarHLOF1DttPgZ8DNgGAG/hAwDaOzuZ8A4hIYb+BkwDKCxu9czkPW6gJTXBSS8LuDAKaDB+Kmq3AYvHLXvFBCt3PnGJ63T2Hr4bmzRUpEW9h2Q/r92E559CMjYMzDDoBfIS1M3JuQlynYBMRlQblL3c5A/t3jmS4jyaWbgATRZEwqvN3CSyF/YuVkZmGZQK3l5Z7YCep3kRYjVB5qVLyXYKz73JfgVchHCKZAER+AU4s9c3Y3yCYEsKMZSLJaXb+3uu1ZwFBKTRTC/ZO080NO9hszqPwLemd8F8mpHnckz8Fc7PcvcFlijBq/UMbcIEdkh8AEsS3CzCFqtNeqvkO0CUtvD6sn6BJVF4BML/aXBGCS5AQAAAABJRU5ErkJggg==) 50%/contain no-repeat; }
        .db-content .db-center .item .item-comment div {
          display: flex; }
          .db-content .db-center .item .item-comment div input {
            width: 510px;
            height: 30px;
            border: none;
            padding-left: 20px;
            border-radius: 5px;
            text-align: center; }
      .db-content .db-center .item .second {
        background: url("../images/secondBg.png"); }
        .db-content .db-center .item .second .item-left {
          background-color: rgba(89, 137, 120, 0.8); }
      .db-content .db-center .item .tired {
        background: url("../images/thiredBg.png"); }
        .db-content .db-center .item .tired .item-left {
          background-color: white; }
      .db-content .db-center .item .fourth {
        background: url("../images/fourthBg.png"); }
        .db-content .db-center .item .fourth .item-left {
          background-color: rgba(158, 89, 20, 0.8); }
      .db-content .db-center .item .item-bgImg {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        display: flex;
        justify-content: center; }
        .db-content .db-center .item .item-bgImg .item-center {
          width: 240px;
          height: 300px;
          font-family: STFangsong,Fangsong,FangSong_GB2312,STSong,serif;
          text-align: justify;
          font-size: 15px;
          color: #555;
          box-sizing: border-box;
          margin-left: 12px;
          margin-top: -60px; }
          .db-content .db-center .item .item-bgImg .item-center p {
            line-height: 2.5; }
          .db-content .db-center .item .item-bgImg .item-center a {
            color: #555;
            padding-left: 85px; }

/*# sourceMappingURL=newIndex.css.map */
