@charset "UTF-8";
@import "base.scss";
/*背景视频的高度*/
/*网站字体颜色*/
$font-color: white;
.db-content {
  width: 100%;
  //height: 100%;
  /*豆瓣头部样式*/
  .db-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: rgba(0,0,0,.4);
    color:$font-color;
    z-index: 1;
    .header {
      width:100%;
      display: flex;
      justify-content:space-around;/*沿主轴方向的（这是水平方向）居中*/
      span {
        padding: 0px 3px;
      }
      .header-left {
        padding: 10px 0px;
        display: flex;
        a {
          display: flex;
          //align-items: center;/*弹性盒子垂直居中法*/
          img {
            width: 15px;
            height: 15px;
          }
        }
        .sharing {
          display:none;
          position: absolute;
          top: 40px;
          left: 323px;
          background-color:rgba(0,0,0,.7) ;
        }
        .header-share {
          cursor: pointer;
          &:hover .sharing{

            display: flex;
          }
        }
      }
      .header-right {
        display: flex;
        align-items: center;
        img {
          width: 14px;
          height: 14px;
        }
        .header-menu {
          background: transparent;
          border-radius: 10px;
          color:$font-color;
          border: 1px solid;
          padding: 2px 10px;
        }
      }
    }
  }
  .db-center {
    height: 100%;
    .item {
      position: relative;
      overflow: hidden;
      height: 100%;
      /*首页样式*/
      .center-video {
        width: 100%;
        height: 100%;
        video {
          width: 100%;
        }
      }
      .center-bgImg {
        width: 100%;
        height:100%;
        position:absolute;
        top: 0;
        left:0;
        background-image: url("../images/textBg.png");
      }
      .center-textImg {
        width: 55vh;
        position:absolute;
        top:68%;
        left:50%;
        transform:translate(-50%,-50%);
        img {
          width: 100%;
        }
        /*两张图片叠加，将其中一张使用绝对定位*/
        .textImg-small {
          position: absolute;
          top:0px;
          left:0px;
        }
      }
      /*第二页样式*/
      .item-bgImgOne {
        height: 100%;
        background: url("../images/second.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        .item-left {
          width: 490px;
          height: 250px;
          background-color: rgba(89, 137, 120, 0.8);
          padding: 20px;
          border-radius: 7px;
          margin-top: -50px;
          margin-right: 35px;
          display: flex;
          .item-left-l {


          }
          .item-left-r {
            padding: 0px 0px 0px 20px;
            flex: 1;
            color:$font-color;
            overflow: hidden;
            h1 {
              font-weight: 400;
            }
            .splitLine {
              width: 100%;
              height: 1px;
              border-top: 1px solid white ;
              margin: 18px 0px 15px 0px ;
            }
            .ranking {
              display: inline-block;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              background: #e58b00;
              border-radius: 1.5rem;
              padding: 0 .5rem;
              margin-bottom: .3rem;
              margin-right: .5rem;
              color: $font-color;
            }
            section {
              span,p {
                margin-top: 7px;
              }
              p:last-of-type {
                height: 66.5px;
                line-height: 1.7;
                overflow: hidden;
                font-size: 12px;
                color: hsla(0,0%,100%,.6);
              }
            }
          }
        }
        .item-right {
          width: 472px;
          height: 522px;
          .item-right-ul {
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            margin-top: 91px;
            li {
              display: inline-block;
              position: relative;
              width: 142px;
              height: 120px;
              margin: 0 5px 64px;
              margin-bottom: 55px;
              background: rgba(0,0,0,.5);
              border-radius: 7px;
              div:first-of-type {
                position: absolute;
                bottom: 46px;
                margin-left:15px
               }
              div:last-of-type {
                position: absolute;
                right: 18px;
                top:3px;
                font-size: 15px
              }
              p {
                position: absolute;
                margin-left:15px;
                font-size: 15px;
              }
              p:first-of-type {
                width: 120px;
                height: 20px;
                bottom: 24px;
                overflow: hidden;
                white-space: nowrap;/*文本不换行*/
                text-overflow: ellipsis;/*影藏的部分用...表示*/
              }
              p:last-of-type {
                bottom: 5px;
                color:#f6a623;
              }
            }
          }
        }
        .item-comment {
          width: 531px;
          height: 50px;
          position: absolute;
          bottom:80px;
          //left: 164px;
          //border: 1px solid salmon;
          color: $font-color;
          //background-color: white;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          span::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            margin-left: 15px;
            width: 16px;
            height: 14px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAjRJREFUaAXtmbtKA1EQho3GeG0shKCFIIKIjYg2IimMFwQb04oPIFY+gDY+ghZaWNqIWHhB0FYsxCJtihSCGhRjAhZeEOM3wZV1XSPJCcks7MCf3Zxz5pz/n5kNYbamxrfqRiBQ7PG5XK4en37QAcIgCMppT2x2C5KBQOC6bBtDPAK2QQZUyuIctAzaShaCczc4BNW0Rw5fAsVVDA5jIA202B5EWuzZ+FMRC8dZeAzKXeP280u5P8MpyvPxJs61bjtAvofxHaCNvNAdBRtyI+aaAQScMDeRX6H3Y4osnPwSAHkhLgK0WxyCg24ltKCd+Re/Aa4jdXayRL+R75sgZB9XfJ92ZmAQsj9+phSTF2oRpwD5e+Al63QKkP82XrKwU4DG3/1CAQ06BRRarHLOF1DttPgZ8DNgGAG/hAwDaOzuZ8A4hIYb+BkwDKCxu9czkPW6gJTXBSS8LuDAKaDB+Kmq3AYvHLXvFBCt3PnGJ63T2Hr4bmzRUpEW9h2Q/r92E559CMjYMzDDoBfIS1M3JuQlynYBMRlQblL3c5A/t3jmS4jyaWbgATRZEwqvN3CSyF/YuVkZmGZQK3l5Z7YCep3kRYjVB5qVLyXYKz73JfgVchHCKZAER+AU4s9c3Y3yCYEsKMZSLJaXb+3uu1ZwFBKTRTC/ZO080NO9hszqPwLemd8F8mpHnckz8Fc7PcvcFlijBq/UMbcIEdkh8AEsS3CzCFqtNeqvkO0CUtvD6sn6BJVF4BML/aXBGCS5AQAAAABJRU5ErkJggg==) 50%/contain no-repeat;
        }
          div {
            display: flex;
            input {
              width: 510px;
              height: 30px;
              border: none;
              padding-left: 20px;
              border-radius: 5px;
              text-align: center;
            }
          }
        }

      }
      /*第三页样式*/
      .item-bgImgTwo {
        width: 100%;
        height: 100%;
        background: url("../images/thiredBg.png")  no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        .item-center {
          width: 240px;
          height: 300px;
          font-family: STFangsong,Fangsong,FangSong_GB2312,STSong,serif;
          text-align: justify;
          font-size: 15px;
          color: #555;
          box-sizing: border-box;
          p {
            line-height: 2.0;
          }

        }
      }

    }
  }
}

